/* ====================================== */
/* 게시판 정보                               */
/* ====================================== */
#list.content-wrap {
  width: 100%;
  max-width: 1024px;
}
#list .board-title {
  height: 80px;
  margin: 0 0 20px 0;
  padding: 0 0 0 40px;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}
#list .board-title strong {
  display: block;
  margin: 0 0 2px 0;
  font-weight: 500;
  font-size: 18px;
}
#list .board-title p {
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
}
#list .filter-wrap {
  width: 100%;
}
#list .filter-top {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--color-border-default);
}
#list .write-button {
  flex: 1;
  width: 100px;
  padding: 0 0 0 20px;
  height: 34px;
  line-height: 38px;
  border-radius: 5px;
  background: var(--background-main) url("../img/list/write_button_icon.png")
    no-repeat left 5px center / 20px;
  color: var(--color-text-white);
  transition: 0.3s;
}
#list .write-button:hover {
  background-color: var(--background-main-hover);
}
#list .category-button-wrap.mobile-only {
  display: none;
}
#list .category-button-wrap {
  max-width: 655px;
  display: flex;
  flex: 2;
  gap: 10px;
  justify-content: space-between;
}
#list .category-button-wrap button {
  height: 34px;
  line-height: 38px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-sub);
  border-radius: 5px;
  transition: 0.3s;
}
#list .category-button-wrap button:hover,
#list .category-button-wrap button.active {
  background: var(--color-bg-white-hover);
}
#list .order-button-wrap {
  width: 140px;
  display: flex;
}
#list .order-button-wrap button:first-child {
  width: 50px;
  line-height: 36px;
  height: 34px;
  border-radius: 5px 0 0 5px;
  border-right: var(--color-border-default);
  border: var(--color-border-default);
  background: var(--color-bg-white);
  transition: 0.3s;
}
#list .order-button-wrap button:last-child {
  width: 90px;
  height: 34px;
  padding: 0 0 0 15px;
  border-radius: 0 5px 5px 0;
  line-height: 36px;
  border: var(--color-border-default);
  border-left: 0;
  background: var(--color-bg-white) url("../img/list/order_button_icon.svg") no-repeat left 5px center /
  20px;
  transition: 0.3s;
}
#list .order-button-wrap button:first-child:hover {
  background: var(--color-bg-sub);
}
#list .order-button-wrap button:last-child:hover {
  background-color: var(--color-bg-sub);;
}
#list .filter-bottom {
  height: 54px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
#list .filter-bottom .refresh-button {
  position: relative;
  margin: 0 130px 0 0;
}
#list .filter-bottom .refresh-button:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: var(--color-bg-white-hover);
  transition: 0.3s;
  opacity: 0;
}
#list .filter-bottom .refresh-button:hover:before {
  opacity: 1;
}
#list .search-wrap {
  width: 420px;
  height: 54px;
  padding: 10px 0;
  position: relative;
}
#list .search-box {
  min-width: 398px;
  width: 100%;
  height: 30px;
  padding: 0 0 0 40px;
  background: var(--color-bg-white);
  border-radius: 10px;
  box-sizing: border-box;
  border: var(--color-border-default);
}
#list .search-box::placeholder {
  color: var(--color-text-sub2);
  opacity: 0.3;
}
#list .search-button {
  position: absolute;
  left: 10px;
  top: 52%;
  transform: translateY(-50%);
}
#list .filter-bottom .paging-wrap {
  display: flex;
  align-items: center;
}
#list .filter-bottom .paging-text {
  width: 98px;
  justify-content: space-between;
  display: flex;
  margin: 0 10px 0 0;
}
#list .filter-bottom .paging-text p,
#list .filter-bottom .paging-text span {
  color: var(--color-text-sub);
}
#list .filter-bottom .paging-button button {
  width: 24px;
  height: 24px;
  position: relative;
}

#list .filter-bottom .paging-button button:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: var(--color-bg-white-hover);
  transition: 0.3s;
  opacity: 0;
}
#list .filter-bottom .paging-button button:hover:before {
  opacity: 1;
}

#list .filter-bottom .paging-button .next {
  margin: 0 0 0 10px;
  transform: rotate(180deg);
}
/* ====================================== */
/* 게시판 정보 끝                            */
/* ====================================== */

/* ====================================== */
/* 게시글 정보                               */
/* ====================================== */
#list .board-list a {
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: var(--color-border-default);
  transition: 0.3s;
}
#list .board-list a:hover {
  background: var(--color-bg-point);
}
#list .board-fixed-list {
  width: 100%;
  height: 46px;
  display: flex;
  padding: 0 10px;
  margin: 0 0 10px;
  border-top: var(--color-border-default);
  border-bottom: var(--color-border-default);
  align-items: center;
  background: rgba(46, 134, 222, 0.1);
  transition: 0.3s;
}
#list .board-fixed-list span {
  width: 60px;
  height: 26px;
  margin: 0 10px 0 0;
  font-size: 12px;
  line-height: 26px;
  display: inline-block;
  background: var(--color-bg-white);
  border: var(--color-border-default);
  color: var(--background-main);
  text-align: center;
  opacity: 1;
  transition: 0.3s;
  border-radius: 5px;
}
#list .board-fixed-list p {
  transition: 0.3s;
  font-size: 14px;
}
#list .board-fixed-list:hover p {
  color: var(--background-main);
}
#list .board-fixed-list:hover span {
  background: #f3f4f6;
}
#list .post-title {
  padding: 0 10px;
  color: var(--color-text-main);
  font-size: 14px;
  transition: 0.3s;
}
#list .post-content {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  color: var(--color-text-main);
  line-height: 1.2;
  transition: 0.3s;
}
#list .post-bottom {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
#list .post-bottom .category {
  padding: 2px 5px;
  margin: 0 10px 0 0;
  font-size: 12px;
  border-radius: 5px;
  color: var(--background-main);
  background: rgba(46, 134, 222, 0.1);
}
#list .post-bottom .hashtag {
  font-size: 12px;
  color: var(--color-text-sub);
}

#list .pagination {
  display: flex;
  flex: 100%;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 20px 0;
  font-family: sans-serif;
}
#list .pagination-button,
#list .page {
  border: none;
  background: none;
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
  color: #555;
  transition: all 0.2s;
}
#list .pagination-button {
  font-weight: 500;
  color: #333;
}
#list .pagination-button:disabled {
  color: #aaa;
  cursor: default;
}
#list .page {
  border-top: 2px solid transparent;
}
#list .page:hover {
  color: var(--background-main-hover);
}
#list .page.active {
  color: var(--background-main-hover);
  border-top: 2px solid var(--background-main-hover);
  font-weight: bold;
}
#list .pagination .dots {
  padding: 6px 8px;
  color: var(--color-text-sub2);
  font-size: 14px;
}
/* ====================================== */
/* 게시글 정보 끝                             */
/* ====================================== */

/* ====================================== */
/* 미디어 쿼리                               */
/* ====================================== */
@media screen and (max-width: 1280px) {
  #list.content-wrap {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  #list.content-wrap {
    flex-wrap: wrap;
  }
  #list .filter-top {
    flex-wrap: wrap;
    justify-content: end;
  }
  #list .order-button-wrap {
    order: 2;
    margin: 0 0 0 20px;
  }
  #list .category-button-wrap.mobile-only {
    display: block;
    margin: 0 0 0 20px;
    flex: 0;
  }
  #list .category-button-wrap.mobile-only select {
    width: 100px;
    line-height: 36px;
    height: 34px;
    border: var(--color-border-default);
    border-radius: 5px;
  }

  #list .category-button-wrap.desktop-only {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  #list .filter-bottom {
    height: auto;
    flex-wrap: wrap;
  }
  #list .search-wrap,
  #list .search-box {
    width: 100%;
  }
  #list .paging-wrap {
    flex: 100%;
    justify-content: end;
  }
  #list .filter-bottom {
    justify-content: end;
  }
  #list .filter-bottom .refresh-button {
    margin: 0;
  }
}
/* ======================================  */
/* 미디어 쿼리 끝                             */
/* ====================================== */
