/* ====================================== */
/* 게시글 정보                               */
/* ====================================== */
#view * {
  font-weight: 500;
}
#view.content-wrap {
  max-width: 1024px;
  gap: 0;
}
#view .view-title {
  width: 100%;
  margin: 0 0 50px;
  position: relative;
}
#view .view-title::before {
  width: 100%;
  height: 1px;
  content: "";
  background: var(--color-bg-sub2);
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
}
#view .view-title .view-span-wrap {
  width: fit-content;
  margin: 0 0 0 58px;
  padding: 0 5px;
  background: var(--color-bg-main);
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-main);
  z-index: 1;
  position: relative;
}
#view .view-title .view-span-wrap a {
  display: inline-block;
  border-bottom: none;
}
#view .view-title .view-span-wrap a:hover {
}
#view .view-title .view-span-wrap .category {
  color: var(--background-main);
}
#view .post-item-wrap {
  position: relative;
}
#view .post-item-wrap::before {
  width: 100%;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  border-bottom: var(--color-border-default);
}
#view .post-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 30px 0;
  gap: 30px;
}
#view .post-item .post-title {
  color: var(--color-text-main);
  font-size: 24px;
}
#view .post-item .post-content {
  font-size: 18px;
  color: var(--color-text-main);
  line-height: 1.5;
}
#view .post-bottom {
  display: flex;
  justify-content: space-between;
}
#view .hashtag {
  font-size: 14px;
  cursor: pointer;
  color: var(--color-text-sub);
  transition: 0.3s;
}
#view .hashtag:hover {
  color: var(--background-main);
}
#view .report-button {
  color: var(--text-color-sub2);
  font-size: 14px;
  transition: 0.3s;
}
#view .report-button:hover {
  color: var(--background-main);
}
#view .board-list li {
  padding: 0;
}
#view .post-item-header {
  width: 100%;
  justify-content: space-between;
}
#view .post-item-header .profile-info {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 10px;
  flex: 8;
}
#view .post-item-header .writer {
  flex: 100%;
  margin: 0;
  font-size: 18px;
}
#view .time,
#view .view-count,
#view .view-count span {
  font-weight: 500;
  color: var(--color-text-sub);
  font-size: 14px;
  margin: 0;
}
#view .corrected-mark {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  color: var(--background-main);
}
#view .etc-button-wrap button {
  width: 24px;
  height: 24px;
  text-indent: -999em;
}
#view .etc-button-wrap button:first-child {
  background: url(../img/view/thumbs_icon.svg) no-repeat center / contain;
}
#view .etc-button-wrap button:first-child:hover {
  opacity: 0.7;
}
#view .etc-button-wrap button:first-child.active {
  background-image: url(../img//view//thumbs_active_icon.svg);
}

#view .etc-button-wrap button:nth-child(2) {
  margin: 0 15px;
  background: url(../img/view/share_icon.svg) no-repeat center / contain;
}
#view .etc-button-wrap button:nth-child(2):hover {
  opacity: 0.7;
}
#view .etc-button-wrap button:nth-child(2).active {
  background-image: url(../img//view//share_active_icon.svg);
}

#view .etc-button-wrap button:last-child {
  background: url(../img/view/bookmark_icon.svg) no-repeat center / contain;
}
#view .etc-button-wrap button:last-child:hover {
  opacity: 0.7;
}
#view .etc-button-wrap button:last-child.active {
  background-image: url(../img//view//bookmark_active_icon.svg);
}
/* ====================================== */
/* 게시글 정보 끝                             */
/* ====================================== */

/* ====================================== */
/* 댓글  정보                               */
/* ====================================== */
#view .comment-wrap {
  display: flex;
  flex-direction: column;
  margin: 100px 0 20px;
}
#view .comment-wrap > p,
#view .comment-wrap > span {
  font-size: 15px;
  color: var(--text-color-sub2);
}
#view .comment-wrap .write-area {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.comment-wrap .write-area .top-row {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 20px 0 0;
  align-items: flex-start;
  position: relative;
}
.comment-wrap .write-area .button-row {
  width: 100%;
  display: flex;
  justify-content: end;
}
#view .comment-wrap .write-area img {
  width: 36px;
  height: 36px;
}
#view .comment-wrap .write-area textarea {
  width: 940px;
  height: 100px;
  padding: 15px 20px;
  flex: 1;
  border: var(--color-border-default);
  border-radius: 10px;
  box-sizing: border-box;
}
#view .comment-wrap .write-area button {
  width: 86px;
  height: 37px;
  border-radius: 5px;
  background: var(--background-main);
  color: var(--color-bg-white);
  font-size: 14px;
  transition: 0.3s;
}
#view .comment-wrap .write-area button:hover {
  background-color: var(--background-main-hover);
}
.comment-wrap .login-text {
  position: absolute;
  top: 15px;
  left: 70px;
  z-index: 1;
  color: var(--text-color-sub2);
}
.comment-wrap .login-text span {
  color: var(--background-main);
  text-decoration: underline;
}
.comment-item {
  position: relative;
  padding: 20px;
}
.comment-item::before {
  width: 100%;
  height: 1px;
  content: "";
  background: var(--color-bg-sub2);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
}
.comment-item-header {
  padding: 0;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}
.comment-item .profile-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
}
.comment-item .comment-item-header img {
  width: 36px;
  height: 36px;
  margin: 0 20px 0 0;
}
.comment-item .writer {
  margin: 0 0 4px;
}
.comment-item .comment-content {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0 30px;
}
#view .comment-item-footer {
  display: flex;
  gap: 0 10px;
}
#view .comment-item-footer button {
  font-size: 14px;
  color: var(--text-color-sub2);
  transition: 0.3s;
}
#view .comment-item-footer button:hover {
  color: var(--background-main);
}
/* ====================================== */
/* 댓글 정보 끝                              */
/* ====================================== */

/* ====================================== */
/* 대댓글 정보                               */
/* ====================================== */
#view .recomment-wrap {
  display: flex;
  flex-direction: column;
  margin: 100px 0 20px;
}
#view .recomment-wrap > p,
#view .recomment-wrap > span {
  font-size: 15px;
  color: var(--text-color-sub2);
}
#view .recomment-wrap .write-area {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.recomment-wrap .write-area .button-row {
  width: 100%;
  display: flex;
  justify-content: end;
}
#view .recomment-wrap .write-area img {
  width: 36px;
  height: 36px;
}
#view .recomment-wrap .write-area textarea {
  width: 940px;
  height: 100px;
  padding: 15px 20px;
  flex: 1;
  border: var(--color-border-default);
  border-radius: 10px;
  box-sizing: border-box;
}
#view .recomment-wrap .write-area button {
  width: 86px;
  height: 37px;
  border-radius: 5px;
  background: var(--background-main);
  color: var(--color-bg-white);
  font-size: 14px;
}
.recomment-item {
  position: relative;
  padding: 20px 20px 20px 72px;
  background: url("../img/view/recomment_icon.svg") no-repeat left 30px top 20px / 32px 32px;
}
.recomment-item::before {
  width: 100%;
  height: 1px;
  content: "";
  background: var(--color-bg-sub2);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
}
.recomment-item-header {
  padding: 0;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}
.adopted-mark {
  transition: 0.3s;
}
.adopted-mark:hover path {
  fill: var(--background-main) !important;
}
.adopted-mark.checked path {
  fill: var(--background-main) !important;
  fill-opacity: 1 !important;
}
.recomment-item .profile-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 4px 10px;
}
.recomment-item .recomment-item-header img {
  width: 36px;
  height: 36px;
  margin: 0 20px 0 0;
}
.recomment-item .writer {
  flex: 100%;
  margin: 0;
}
.recomment-item .recomment-content {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0 30px;
}
#view .recomment-item-footer {
  display: flex;
  gap: 0 10px;
}
#view .recomment-item-footer button {
  font-size: 14px;
  color: var(--text-color-sub2);
}
/* ====================================== */
/* 대댓글 정보 끝                             */
/* ====================================== */

/* ====================================== */
/* 미디어 쿼리                               */
/* ====================================== */
@media screen and (max-width: 1024px) {
  #view .comment-wrap .write-area textarea {
    width: 100%;
  }
}
/* ====================================== */
/* 미디어 쿼리 끝                             */
/* ====================================== */